# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# VS Code
.vscode/

# JetBrains
.idea/

# SQLite journals
*.db-journal

# OS
.DS_Store
Thumbs.db

# CSV files
imdb_top_250.csv
